h1 {
    text-align: center;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.emoji-input {
    height: 24px;
    width: 235px;
    font-family: 'Samsung Sans Regular';
    display: block;
    margin: auto;
}